.container{
 max-width: 400px;
 min-height: 450px;
 margin: 0 auto;
 background-color: #efefef;
 box-shadow: 0 0 10px gray;
 margin-top: 50px;
 padding: 15px 50px;
}
.text_center{
  text-align: center;
}
.expense_container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px grey;
}
.transaction_form{
  width:  100%;
  margin: 10px 0;
  padding: 5px 0;
}
.transaction_list{
  margin: 0;
  padding: 0;
}
.transaction_list > li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 5px grey;
  padding: 5px 5px;
  margin: 5px 0;
  border-radius: 4px;
}